@media  screen and (max-width: 960px) {
    aside{
        position: absolute;
        margin-top: 35px;
        margin-left: 30px;
        z-index: 0;
    }
}
@media screen and (min-width: 961px) {
    .menu-icon{
        display: none;
    }
}

aside{
    width: 260px;
    background-color: #AD3A3C;
    color: white;
    padding: 20px;
}

