@media screen and (max-width: 730px) {
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
}